{% extends "../layout.html" %}
{% load static %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/tv.jpg' %}" class="d-block w-100" alt="Slide 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Smart Tv</h5>
          <p>Tecnologia Hight Definition 4k</p>
          
          <a href="{% url 'product_list' %}" class="btn btn-outline-primary">Ir a Productos</a>       
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/laptop.jpg' %}" class="d-block w-100" alt="Slide 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Laptop</h5>
          <p>Procesador de ultima Generacion.</p>

          <a href="{% url 'product_list' %}" class="btn btn-outline-primary">Ir a Productos</a> 
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/airfryer.jpg' %}" class="d-block w-100" alt="Slide 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Air Fryer</h5>
          <p>Aire circule a una temperatura máxima de 200 °C.</p>

          <a href="{% url 'product_list' %}" class="btn btn-outline-primary">Ir a Productos</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}
